# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
.env
backend/venv/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
backend/zappa_settings.json
backend/scripts/ESV_bible.json
backend/scripts/kor_krv_bible.json
backend/routes/__pycache__/passage_routes.cpython-311.pyc
backend/routes/__pycache__/versions_routes.cpython-311.pyc
backend/middleware/__pycache__/middleWareRoutes.cpython-311.pyc
backend/bible/__pycache__/bible_aliases.cpython-311.pyc
backend/utils/__pycache__/bible_parser.cpython-311.pyc
backend/utils/__pycache__/database.cpython-311.pyc
backend/zappa_settings.json
backend/flashcard-backend-dev-template-1747684966.json
backend/kor_bible.json
package-lock.json
package.json
backend/scripts/load_esv.py
backend/scripts/load_kor_krv.py
